@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Fuentes */

    --Noto-sans: "Noto Sans", sans-serif;
    --Libre-baskerville: "Libre Baskerville", serif;

}

/* Navbar */

.navbar {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    position: fixed;
    clip-path: circle(30px at 0% 50%);
    transition: 1s ease;
}

.navbar--active {
    clip-path: circle(150% at 0% 50%);
}

.navbar__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__logo {
    height: 50px;
    margin-left: -13px;
    cursor: pointer;
}

.navbar__logo--active {
    animation: rotar 1.5s alternate;
}

@keyframes rotar {

    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-15deg);
    }

    60% {
        transform: rotate(15deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.navbar__logo-name {
    display: none;
}

.navbar__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style: none;
    font-family: var(--Noto-sans);
    font-size: 1.2rem;
    font-weight: 700;
}

.navbar__item {
    padding: 5px 10px;
    border-radius: 10px;
    transition: .5s ease;
}

.navbar__item:hover {
    background-color: white;

    .navbar__item-link {
        color: black;
    }
}

.navbar__item--active {
    animation: displacement 1s ease;
}

@keyframes displacement {

    from {
        transform: translateY(500px);
    }

    to {
        transform: translateY(0);
    }
}

.navbar__item-link {
    text-decoration: none;
    color: white;
}